.padre .inp{
  margin-top: 6px;
}
.father2{
  margin-top: 20px;
}
.father{
  margin-top: 6px;
  margin-bottom: 26px;
}
.children{
  margin-top: 20px;
  margin-left: -2px;
}

.fecha1 .fecha{
  margin-left: 6px;
}
/* .mat{
  color: aliceblue;
  margin-left: 500px;
  margin-top: -50px;
} */
.mat{
  color: aliceblue;
  margin-left: auto;
  margin-top: auto;
}

