<div class="card border-primary tarjeta mb-3 panel">
  <div class="card-header">{{title}}</div>
  <div class="card-body text-primary">
    <h4 class="card-title">Detalles del Gasto ingresado</h4>
    <div class="alert alert-primary">
       {{nombreGasto}}
    </div>
    <!-- <button type="button" name="detalle" class="btn btn-rounded  btn-dark ad" [routerLink]="['/gastos/formdetallegasto']">
      asignar
   </button> -->
   <button type="button" name="detalle" class="btn btn-rounded btn-dark d" [routerLink]="['/gastos/formasignagasto/',gastoid]">
     agregar producto
   </button>

    <div *ngIf="detalleGastoDTO.length == 0" class="alert alert-info">
         El gasto no tiene detalle asociado

<!--
         <div >
          <form-detalle-gasto [gastoid]="gasto.id"></form-detalle-gasto>
         </div> -->

    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-sm table-md" *ngIf="detalleGastoDTO.length > 0">
        <thead>
          <tr>
            <th>id</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Editar</th>
            <th>Eliminar</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of detalleGastoDTO ">
           <td>{{detalle.id}}</td>
           <td>{{detalle.producto}}</td>
           <td>{{detalle.precio}}</td>
           <td> {{detalle.cantidad}}</td>
           <td>{{detalle.subtotal}}</td>
           <td>
            <button type="button" name="editar" [routerLink]="['/gastos/formdetallegasto', detalle.id]"  class="btn btn-primary editar">
               editar
            </button>
          </td>
           <td>
           <button type="button" name="eliminar" class="btn btn-danger eliminar" (click)="deleteDetalleGasto(detalle)">

            eliminar
         </button>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-3 d">
  <div class="card text-center bg-danger text-white mb-3">
    <div class="card-body" >
      <h3>Gasto Total  del detalle</h3>
      <h4>{{valor}}</h4>
    </div>
  </div>
</div>

<!-- <ng-template #zero>
  <div class="alert alert-info">
     <h3>0</h3>
  </div>
</ng-template> -->


<!-- <div class="col-md-3 d">
  <button class="btn btn-primary" role="button" *ngIf="detalleGastoDTO.length == 0" ; >

  </button>
</div> -->
