
/* .div-titulo{
  align-items: center;
} */
.div-editar{
  margin-top: 20px;
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 95%;
}

.div-crear{
  margin-top: 20px;
  /* margin-left: 200px;
  margin-right: 200px; */
  width: 95%;
}

.mat{
  color: aliceblue;
  margin-left: auto;
  margin-top: auto;
}

/* .div-contenido{
  margin-left: 0%;
  margin-right: 0%;
} */
 .div-titulo .titulo{
  /* margin : auto */
 }
 .titulo{
  margin-bottom: 20px;
  height: 50px;
 }

 .div-contenido{
  margin-bottom: 20px;
 }
 .div-titulo .titulo,.div-contenido .textarea,
 .fecha1 .father2 .fecha {
  width: 500px;
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
    /* margin-top: 30px; */
    /* margin-left: -250px ;aqui quede */



    /* height: 100px; */

}

