/* @media (max-width: 10px){
  .t{
    width: 100px;
  }
} */
/* .editar{
  width: 100px;
  height: 60px;
}

.eliminar{
  width: 100px;
  height: 60px;
}

.ad{
  width: 100px;
  height: 60px;
}
.detalle{
  width: 100px;
  height: 60px;
} */
